<!doctype html>
<!-- 
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $("#moreButton").click(function(){
	var numItems = $('tr').length-1
    $("tbody").append( "<tr><td>10</td><td><a href=\"https://www.boardgamegeek.com/boardgame/{{nums[numItems]}}\" target=\"_blank\">{{games[numItems]}}</a></td><td>{{sim[numItems]}}</td></tr>" );   
    });
   });
</script>
</head>
 -->
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


	</head>
<title>Game Time!</title>
<!-- <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'> -->
<div class=container>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Game Time!</a>
          </div>
          
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/about">About</a></li>
              <li class="active" ><a href="/user">Game Recommendation</a></li>
              <li><a href="/game">Game Prediction</a></li>
            </ul>
</nav>
  <h1>Your Game Recommendations</h1>

  <div class=metanav>

    <h4>The games you rated tend to be in the {{inprops[0][0]}} or {{inprops[0][1]}} category, and have {{inprops[1][0]}} and {{inprops[1][1]}} mechanics. Here are some games you might like. If you click on name, more information will pop up.</h4>

    <h4>
    <table style="width:100%" align="center">
  <tr>
    <th class="col-md-1 col-md-push-1">#</th>
    <th class="col-md-9 col-md-push-6"> Game Title</th> 
    <th class="col-md-2 col-md-push-3">Similarity</th>
  </tr>
    <tbody>
  <tr><td class="col-md-1 col-md-push-1">1</td><td class="col-md-9 col-md-push-6"><div class="accordion" id="accordion2">
  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseZero" >
		{{games[0]}}
      </a>
    </div>
    <div id="collapseZero" class="accordion-body collapse">
    
       <h5> <p>{{game_text[0]| safe}}</p> <p> <a href="https://www.boardgamegeek.com/boardgame/{{nums[0]}}" target="_blank">More information on BoardgameGeek</a></h5>
      </div>
    
    <!-- <button class="SeeMore2" data-toggle="collapse" href="#collapseTwo">See More</button> -->
  </div>

</div></td> <td class="col-md-2 col-md-push-3">{{sim[0]}}</td></tr>

  <tr><td class="col-md-1 col-md-push-1">2</td><td class="col-md-9 col-md-push-6"><div class="accordion" id="accordion2">
  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" >
		{{games[1]}}
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
    
       <h5> <p>{{game_text[1]| safe}}</p> <p> <a href="https://www.boardgamegeek.com/boardgame/{{nums[1]}}" target="_blank">More information on BoardgameGeek</a></h5>
      </div>
    
    <!-- <button class="SeeMore2" data-toggle="collapse" href="#collapseTwo">See More</button> -->
  </div>

</div></td><td class="col-md-2 col-md-push-3">{{sim[1]}}</td></tr>
  <tr><td class="col-md-1 col-md-push-1">3</td><td class="col-md-9 col-md-push-6"><div class="accordion" id="accordion2">
  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" >
		{{games[2]}}
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
    
       <h5> <p>{{game_text[2]| safe}}</p> <p> <a href="https://www.boardgamegeek.com/boardgame/{{nums[2]}}" target="_blank">More information on BoardgameGeek</a></h5>
      </div>
    
    <!-- <button class="SeeMore2" data-toggle="collapse" href="#collapseTwo">See More</button> -->
  </div>

</div></td><td class="col-md-2 col-md-push-3">{{sim[2]}}</td></tr>
  <tr><td class="col-md-1 col-md-push-1">4</td><td class="col-md-9 col-md-push-6"><div class="accordion" id="accordion2">
  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" >
		{{games[3]}}
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
    
       <h5> <p>{{game_text[3]| safe}}</p> <p> <a href="https://www.boardgamegeek.com/boardgame/{{nums[3]}}" target="_blank">More information on BoardgameGeek</a></h5>
      </div>
    
    <!-- <button class="SeeMore2" data-toggle="collapse" href="#collapseTwo">See More</button> -->
  </div>

</div></td><td class="col-md-2 col-md-push-3">{{sim[3]}}</td></tr>
  <tr><td class="col-md-1 col-md-push-1">5</td><td class="col-md-9 col-md-push-6"><div class="accordion" id="accordion2">
  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive" >
		{{games[4]}}
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
    
       <h5> <p>{{game_text[4]| safe}}</p> <p> <a href="https://www.boardgamegeek.com/boardgame/{{nums[4]}}" target="_blank">More information on BoardgameGeek</a></h5>
      </div>
    
    <!-- <button class="SeeMore2" data-toggle="collapse" href="#collapseTwo">See More</button> -->
  </div>

</div></td><td class="col-md-2 col-md-push-3">{{sim[4]}}</td></tr>
  <tr><td class="col-md-1 col-md-push-1">6</td><td class="col-md-9 col-md-push-6"><div class="accordion" id="accordion2">
  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" >
		{{games[5]}}
      </a>
    </div>
    <div id="collapseSix" class="accordion-body collapse">
    
       <h5> <p>{{game_text[5]| safe}}</p> <p> <a href="https://www.boardgamegeek.com/boardgame/{{nums[5]}}" target="_blank">More information on BoardgameGeek</a></h5>
      </div>
    
    <!-- <button class="SeeMore2" data-toggle="collapse" href="#collapseTwo">See More</button> -->
  </div>

</div></td><td class="col-md-2 col-md-push-3">{{sim[5]}}</td></tr>
  <tr><td class="col-md-1 col-md-push-1">7</td><td class="col-md-9 col-md-push-6"><div class="accordion" id="accordion2">
  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" >
		{{games[6]}}
      </a>
    </div>
    <div id="collapseSeven" class="accordion-body collapse">
    
       <h5> <p>{{game_text[6]| safe}}</p> <p> <a href="https://www.boardgamegeek.com/boardgame/{{nums[6]}}" target="_blank">More information on BoardgameGeek</a></h5>
      </div>
    
    <!-- <button class="SeeMore2" data-toggle="collapse" href="#collapseTwo">See More</button> -->
  </div>

</div></td><td class="col-md-2 col-md-push-3">{{sim[6]}}</td></tr>
  <tr><td class="col-md-1 col-md-push-1">8</td><td class="col-md-9 col-md-push-6"><div class="accordion" id="accordion2">
  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight" >
		{{games[7]}}
      </a>
    </div>
    <div id="collapseEight" class="accordion-body collapse">
    
       <h5> <p>{{game_text[7]| safe}}</p> <p> <a href="https://www.boardgamegeek.com/boardgame/{{nums[7]}}" target="_blank">More information on BoardgameGeek</a></h5>
      </div>
    
    <!-- <button class="SeeMore2" data-toggle="collapse" href="#collapseTwo">See More</button> -->
  </div>

</div></td><td class="col-md-2 col-md-push-3">{{sim[7]}}</td></tr>
  <tr><td class="col-md-1 col-md-push-1">9</td><td class="col-md-9 col-md-push-6"><div class="accordion" id="accordion2">
  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine" >
		{{games[8]}}
      </a>
    </div>
    <div id="collapseNine" class="accordion-body collapse">
    
       <h5> <p>{{game_text[8]| safe}}</p> <p> <a href="https://www.boardgamegeek.com/boardgame/{{nums[8]}}" target="_blank">More information on BoardgameGeek</a></h5>
      </div>
    
    <!-- <button class="SeeMore2" data-toggle="collapse" href="#collapseTwo">See More</button> -->
  </div>

</div></td><td class="col-md-2 col-md-push-3">{{sim[8]}}</td></tr>
  <tr><td class="col-md-1 col-md-push-1">10</td><td class="col-md-9 col-md-push-6"><div class="accordion" id="accordion2">
  
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen" >
		{{games[9]}}
      </a>
    </div>
    <div id="collapseTen" class="accordion-body collapse">
    
       <h5> <p>{{game_text[9]| safe}}</p> <p> <a href="https://www.boardgamegeek.com/boardgame/{{nums[9]}}" target="_blank">More information on BoardgameGeek</a></h5>
      </div>
    
    <!-- <button class="SeeMore2" data-toggle="collapse" href="#collapseTwo">See More</button> -->
  </div>

</div></td><td class="col-md-2 col-md-push-3">{{sim[9]}}</td></tr>
  </tbody>
  </table>
  <h4>
  The games suggested tend to be in the {{outprops[0][0]}} or {{outprops[0][1]}} categories, and have {{outprops[1][0]}} and {{outprops[1][1]}} mechanics.</h4>
  <h4><a href="/user">Back to start</a>
<!--   <input id="moreButton" type="button" value="More recommendations" /> -->
    </h4>
  </div>
        <footer>
        <p>&copy; <a href="http://www.toddgaron.com">Todd Garon</a> 2016</p>
      </footer>
</div>